<section id="cart" class="container">
    <div class="row">
        <h1>Cart</h1>
        
        <table class="table">
            <tr>
                <th class="th-pro" colspan="2">Producto</th>
                <th>Texto</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
            <% cart.products.forEach((e) => { %>
            <tr>
                <td class="mt"><i class="glyphicon glyphicon-remove-circle"></i></td>
                <td><img src="/<%= e.url_img %>" alt=""></td>
                <td class="texto mt"><%= e.texto %></td>
                <td class="tipo mt"><%= e.tipo %></td>
                <td class="precio mt"><%= e.precio %>€</td>
                <td class="cantidad mt"><%=e.cantidad %></td>
                <td class="pro-to mt"><%=e.precio * e.cantidad %>€</td>
            </tr>
            <p><span>Subtotal: 4.5€</span></p>
            <%  }) %>
        </table>
        
        <a id="volver" href="/tipo">Comprar +</a>
        <a href="#" id="pagar">Pagar</a>
    </div>
</section>



